body {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  background-color: #ffffff;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
}

.container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input {
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  outline: none;
}

input:focus {
  border-color: #00bcd4;
  box-shadow: 0 0 5px rgba(0, 188, 212, 0.3);
}

button {
  background-color: #00bcd4;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 6px; 
  font-size: 16px;
  cursor: pointer;
  transition: background-color 1s, border 1s, box-shadow 1s ;

}

button:hover {
  background-color: #00acc1;
  box-shadow: 2px 2px 2px 2px #cccc;
}

p {
  font-size: 12px;
  text-align: center;
  margin-top: 15px;
  color: #333;
  font-weight: bold;
}

.userItem{
  display: flex;
  justify-content: space-between;
}

ul{
  list-style-type: none;
  padding: 0px;
}

.containerList{
  background-color: #ffffff;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 500px;
  box-sizing: border-box;
}


.title{
  width: 100%;
  display: flex;
  justify-content: center;
}


.usersLink{
  width: 100%;
  display: flex;
  justify-content: center;
}



.listTitles{
  display: flex;
  justify-content: space-between;
}


.buttonLink{
  border: solid 3px #00bcd4;
  border-radius: 3px;
  background-color: #00bcd4;
  transition: background-color 1s, border 1s, box-shadow 1s ;
  margin-top: 10px;
}

.buttonLink:hover{
  background-color:#00acc1 ;
  border: solid 3px #00acc1;
  box-shadow: 1px 1px 1px 3px #ccc;
}


.buttonLink a:link{
  text-decoration: none;
  color: #fff;
}
.buttonLink a:visited{
  text-decoration: none;
  color: #fff;

}
.buttonLink a:hover{
  text-decoration: none;
  color: #fff;

}
.buttonLink a:active{
  text-decoration: none;
  color: #fff;
}
