.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6); /* fundo escuro transparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1; /* garante que fique na frente */
}

.modal {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  min-width: 300px;
  max-width: 500px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.modal .buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.modal button {
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
}

.modal button:first-child {
  background-color: red;
  color: white;
}

.modal button:last-child {
  background-color: #00bcd4;
  color: white;
}